.container{
    display: block;
    background-color: darkgray;
    height: 50px; 
    padding: 2px;
    text-align:center;
   

}
.container2{
    display: inline-block;
    width: 40;;
    height:400px;
     margin: 15px; 
} 

.container3{
   margin :10px;
} 


.photo{
    height:50%
}

.maincontainer{
    text-align: center;
}
.znak{
    
    height:33px;

}
.right-container {
      display:flex;  
    height:33px;
}


.rights {
    display: flex;
    justify-content: center; /*  выравнивает дочерние элементы по горизонтали по центру контейнера.*/
    align-items: center;   /*выравнивает дочерние элементы по вертикали по центру контейнера. */
}
body{
    background-color: beige;
}
a{
    color: black;
    font-size: 12;
    font-weight: bold;
    
}
ul {
    list-style-type: none;
}
